/* emailChat.css */
/* emailChat.css */
.email-layout {
  height: 100%;
  width: 100%;
}

.email-header {
  background: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.email-title {
  margin: 0;
  color: #000;
}

.email-content {
  padding: 16px;
  background: #f0f2f5;
}

.email-item {
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
  cursor: pointer;
}

.email-item:hover {
  background: #f5f5f5;
}

.email-unread {
  font-weight: bold;
}

.email-sender {
  font-size: 16px;
  color: #000;
}

.email-subject {
  font-size: 14px;
  color: #595959;
}

.email-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.email-text {
  font-size: 15px;
  margin-right: 20px;
  color: #8c8c8c;
}

.email-time {
  font-size: 13px;
  color: #8c8c8c;
}

.ant-list-item {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.avatar-margin-top-special {
  margin-top: 10px !important;
}

sup {
  margin-top: 8px;
}

.special-header-lol {
  margin-left: 20px;
  margin-top: 8px;
}

/* .email-layout {
  height: 100vh;
}

.email-header {
  background: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.email-title {
  margin: 0;
  color: #000;
}

.email-content {
  padding: 16px;
  background: #f0f2f5;
}

.email-item {
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
}

.email-item:hover {
  background: #f5f5f5;
}

.email-unread {
  font-weight: bold;
}

.email-sender {
  font-size: 16px;
  color: #000;
}

.email-subject {
  font-size: 14px;
  color: #595959;
}

.email-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-text {
  font-size: 12px;
  color: #8c8c8c;
}

.email-time {
  font-size: 12px;
  color: #8c8c8c;
} */
