.email-container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 16px;
  background-color: #fff;
}

.email-input {
  margin-bottom: 8px;
}

.email-body {
  min-height: 200px;
  margin-bottom: 8px;
}

.send-button {
  width: 100%;
}

.ql-editor {
  color: black !important;
  /* height: 350px !important; */
}

/* .email-container {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 16px;
  background-color: #fff;
}

.email-input {
  margin-bottom: 8px;
}

.toolbar {
  margin-bottom: 8px;
}

.email-body {
  min-height: 200px;
  margin-bottom: 8px;
}

.send-button {
  width: 100%;
} */
