.bannerContent {
  width: 100%;
  height: 70vh;
  // background-image: url('https://dam.bluenile.com/images/public/20218/Six Blue Nile diamond engagement rings in gold and platinum.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 125px;

  &__inform {
    padding: 5em 0 0 5em;

    &__intro {
      font-family: "Lora";
      font-weight: 100;
      margin-left: 0;
      font-style: italic;
      margin-bottom: 1em;
    }

    &__title {
      font-family: "Lora";
      font-weight: 200;
      font-size: 3em;
      margin: 0em 0 0.7em 0;
    }

    &__subtitle {
      font-family: "Gantari";
      width: 60%;
      font-weight: 400;
      font-size: 1.3em;
      margin: 1em 0 1em 0;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      padding: 1em 0 0 5em;

      &__button {
        height: 3em;
        width: max-content;
        background-color: #151542;
        color: white;
        font-family: "Gantari";
        font-weight: 500;
        font-size: 1em;
        border: none;
        // margin: 3em 0 2em 5em;
        border-radius: 3px;
        margin-top: 0.5em;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .bannerContent {
    height: 45vh;
    &__inform {
      padding: 1em 0 0 1em;
    }
  }
}
@media screen and (max-width: 1290px) {
  .bannerContent {
    height: 55vh;
  }
}
@media screen and (max-width: 1050px) {
  .bannerContent {
    height: 65vh;
  }
}

@media screen and (max-width: 1000px) {
  .bannerContent {
    justify-content: center;
    flex-direction: row;
    height: 45vh;
    &__inform {
      width: 100%;
      height: 53vh;
      background-color: #f7f7f7;
      text-align: center;

      &__subtitle {
        width: 100%;
        text-align: center;
      }
      &__buttons {
        justify-content: center;
        flex-direction: row;
        &__button {
          margin-top: -8em;
        }
        &__button:nth-child(1) {
          margin-right: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .bannerContent {
    height: 45vh;
    &__inform {
      height: 40vh;
      padding: 1em;

      &__buttons {
        justify-content: center;
        flex-direction: row;
        &__button {
          margin-top: -5em;
        }
        &__button:nth-child(1) {
          margin-right: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .bannerContent {
    padding-bottom: 2em;
    &__inform {
      height: 35vh;
      padding: 1em;
      &__intro {
        font-size: 0.8em;
      }

      &__title {
        font-size: 2em;
      }

      &__subtitle {
        font-size: 1em;
      }
      &__buttons {
        margin-top: -5em;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .bannerContent {
    &__inform {
      height: 46vh;
      padding: 1em;

      &__intro {
        font-size: 0.8em;
      }

      &__title {
        font-size: 2em;
      }

      &__subtitle {
        font-size: 1em;
      }

      &__buttons {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-right: 20%;
        // width: 100%;
        &__button {
          margin-top: -5.5em;
          width: 100%;
        }
        &__button:nth-child(2) {
          //   margin-right: 0em;
          margin-top: 0.6em;
        }
        &__button:nth-child(1) {
          margin-right: 0em;
          //   margin-top: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .bannerContent {
    &__inform {
      &__buttons {
        margin-top: -3em;
      }
    }
  }
}
