.wrapper-card {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  justify-content: center;
  padding: 0 2em;
  gap: 1em;
}

.card {
  font-family: "Gantari";
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: calc(100% / 3);
  align-items: center;
}

.card h2 {
  margin-top: 0.5em;
  font-size: 1rem;
  color: rgb(235, 232, 232);
  text-align: start !important;
}

.number {
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
  padding-bottom: 0.3em;
}

.percentage {
  font-size: 1.7em;
  display: flex;
  align-items: center;
  padding-top: 1em;
}

.arrow {
}

.detail-back {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.todayOrders {
  background-color: #1f95a3;
  color: white;
}

.thisMonth {
  background-color: #3e83f8;
  color: white;
}

.totalOrders {
  background-color: #1d9f6e;
  color: white;
}

.wrapper-card-lower {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  justify-content: center;
  padding: 1em 2em;
  gap: 1em;
}

.card-lower {
  font-family: "Gantari";
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: calc(100% / 6);
  align-items: center;
  background-color: rgb(34, 49, 71);
  padding: 1em;
}

.card-lower-icon {
  padding: 0 0.5em;
  font-size: 1.7em;
}

.card-lower-info {
  padding-left: 1em;
}

.card-lower-info p {
  font-family:"Gantari";
 font-weight: 500;
 font-size: 1.1em;
}

.card-lower-info h2 {
  font-family:"Gantari";
  
}

