.erContent {
    width: 100%;
    height:65vh;
    background-image: url('https://dam.bluenile.com/images/public/20218/Six Blue Nile diamond engagement rings in gold and platinum.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__inform {
        padding: 5em 0 0 5em; 

        &__intro {
            font-family:'Lora';
            font-weight: 100;
            margin-left: 0;
        }

        &__title {
            font-family: 'Lora';
            font-weight: 800;
            font-size: 3em;
            margin: 0em 0 0.7em 0;
            font-style: italic;
        }

        &__subtitle {
            font-family: 'Gantari';
            font-weight: 400;
            font-size: 1.1em;
            margin: 2em 0 3em 0;
        }

    }

    &__button {
        height: 3em;
        width: max-content;
        background-color: #151542;
        color: white;
        font-family: 'Gantari';
        font-weight: 500;
        font-size: 0.9em;
        border: none;
        margin: 3em 0 2em 5em;
        border-radius: 3px;

    }


}