/* src/components/Footer.css */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  flex-wrap: wrap;
  width: 100vw;
  font-size: small;
  font-family: "Gantari";
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer-column h3 {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.footer-column a {
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 33px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-column button {
  margin-left: 5px;
  padding: 0.5em 1em;
  padding-bottom: 7px;
  border-radius: 10px;
  font-weight: 500;
}

.footer-column button:hover {
  border: rgba(47, 46, 46, 0.245) 2px solid;
}
.footer-column input {
  border: solid 2px grey;
  background: white;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 5px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  font-family: "Gantari";
}

.footer-bottom a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-family: "Gantari";
  font-size: 14px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  font-size: 20px;
  cursor: pointer;
}
