/* src/components/Header.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  padding-left: 40px;
  font-family: "Gantari";
}

.header-container img {
  width: 90px;
  height: 85px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  text-wrap: nowrap;
}

.nav-link:hover {
  text-decoration: underline;
  color: #3c3c3c;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.search-input {
  border: none;
  outline: none;
  background-color: white;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 1px;
}

.icon-container a {
  text-decoration: none;
  color: #5d5d5d;
}
.icon-container a:hover {
  text-decoration: none;
  color: black;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.pre_icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pre_icon-container a {
  text-decoration: none;
  color: #5d5d5d;
}
.pre_icon-container a:hover {
  text-decoration: none;
  color: black;
}

.pre_icon {
  font-size: 1.1em;
  cursor: pointer;
}

/* ///////////////// */
/* .dropdown-menu {
  width: 300px;
  padding: 20px;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu ul li {
  margin: 5px 0;
}

.ant-dropdown-link:hover .dropdown-menu {
  display: block;
}

.ant-dropdown {
  position: relative;
}

.ant-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-dropdown:hover .ant-dropdown-menu {
  display: block;
}

.blur-background {
  filter: blur(5px);
} */
