* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px !important;  /* Độ rộng của thanh cuộn dọc */
  height: 8px !important; /* Độ cao của thanh cuộn ngang */
}

