*{
    box-sizing: border-box;
}
.list{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.list__sort{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-bottom: 10px;
}
.list__left{
    span{
        font-weight: 500;
        color: rgb(144, 144, 144);
    }
}
.list__dropdown{

}
.list__right{
    width: 220px;
    display: flex;
    gap: 30px;

}
.list__result{
    flex-grow: 1;
    align-self: end;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    color: rgb(144, 144, 144);

    
}
.list__layout{
    display: flex;
    // flex-grow: 1;
    text-align: right;
    font-size: 16px;
    gap: 10px;
    color: rgb(144, 144, 144);
}
.list__layout--default{ 
    
}
.fa-solid{

}
.fa-table-cells-large{

}
.list__layout--table{

}
.fa-table-list{

}
.list__product{
    margin-top: 30px;
    min-height: 100vh;
}
.product__container{
  
    
}
.product__wrapper{
    width: calc(100% - 1px);
    display: flex;
    flex-direction: column;
    height: 400px;
    transition: border ease-in-out .4s;
    background-color: #ffffff;
    &:hover{
        border: 1px solid navy;

    }
    border: 1px outset transparent;
    color: unset;

    
        &:hover{
            color: unset;
        }
}
.product__img{
    height: 278px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
}
.fa-regular{

}
.list__wishlist{
    position: absolute;
    font-size: 16px;
    top: 16px;
    right: 20px;
    cursor: pointer;
    transform-origin: center;
    transition: 0.3s;
    &:hover{
        transform: scale(1.4);
    }
}

.product__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 14px 12px 11px 11px;
    gap: 14px;
}
.product__name{
    font-size: 16px;
    font-family: 'Lora', 'serif';
    font-weight: 500;
}
.product__price{
    font-size: 16px;
    font-family: 'Gantari';
}