*{
    box-sizing: border-box;
}
.sort{
    
    width: 100%;
    min-height: 350px;
    max-width: 1440px;
    margin: 0 auto;
    
    &__area:nth-child(-n+3){
        height: 209px;
        
    }
    &__area:not(:nth-child(-n+3)){
        height: 73px;
        
    }
    &__reset{
        margin-top: 50px;
        
    }
    &__btn--reset{
        padding: 14px 20px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 500;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            background-color: #e1e1e1;
        }
    }
}
.shape{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    

    &__title{
        height: 36px;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 4px 8px;
    }
    &__block{
        display: block;
        height: 76.5px;
        width: 84.92px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border-radius: 6px;
        transition: all 0.2s;
        text-decoration: none;
        color: #333;
        &:hover{
            background-color: rgba($color: #dcdcdc, $alpha: 0.2);
        }

        &:first-child{
            border: 1px solid #151542;
        }
    }

    &__name{
        color: #333;
    }
}
.range{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    &__title{
        height: 36px;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    
    &__input{
        display: flex;
        justify-content: space-between;
    }
    &__input-wrapper{
        display: flex;
        flex-direction: column;
        
    
    }
    &__name{
        font-size: 12px;
        opacity: 0.7;
        font-family: "Gantari", sans-serif;
        margin-bottom: 4px;

    }
    &__value{
        position: relative;
        input{
            width: 104px;
            height: 34px;
            border-radius: 8px;
            outline: none;
            border: #898989 1px solid;
            padding: 8px 12px 8px 16px;
        }
        & > *{
            font-size: 12px;
        }
    }
    &__dollar{
        position: absolute;
        left: 10px;
        top: 8px;
    }
}

.slider{
    margin-top: 18px;
    width: 100%;
    height: 1px;
    background-color: #151542;
}
.thumb{
    width: 14px;
    height: 14px;
    background-color: #151542;
    border-radius: 50%;
    top: -6px;
    cursor: grab;
    transition: box-shadow 0.2s;
    &:hover{
        box-shadow: 0 0 0 8px #1b1b1b1a;
    }
}
.track.track-0 {
    background-color: #dddddd;
    height: 1px;
}
.track.track-2 {
    background-color: #dddddd;
    height: 1px;
}
.color{
    display: flex;
    list-style: none;
    width: 100%;
    &__name{
        width: 57px;
        display: block;
        text-align: center;
    }
}
.mark{
    background-color: #fff;
    width: 5px;
    height: 1px;
}

.clarity{
    display: flex;
    list-style: none;
    width: 100%;
    &__name{
        width: 57px;
        display: block;
        text-align: center;
    }
}
.clarity-mark:nth-of-type(1){
    display: none;
}
.clarity-mark{
    background-color: #fff;
    width: 5px;
    height: 1px;
}
.cut{
    display: flex;
    list-style: none;
    width: 100%;
    &__name{
        width: 114px;
        display: block;
        text-align: center;
    }

}
.cut-mark{
    background-color: #fff;
    width: 5px;
    height: 1px;
}
.cut-mark:nth-of-type(1){
    display: none;
}
